/*-------------------------------------------------------------------------------------------*/
/* Scroll Bar : enables scrollbar always active, similar to gmail; used to prevent re-alignement when expanded
/*-------------------------------------------------------------------------------------------*/

/* http://jsfiddle.net/PVZB8/139/ */

html {
    overflow-y: scroll;
}

html::-webkit-scrollbar{
    width:10px;
    height:10px;
    background-color:#fff;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}
html::-webkit-scrollbar:hover{
    background-color:#eee;
}
html::-webkit-resizer{
    -webkit-border-radius:4px;
    background-color:#666;
}
html::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
}
html::-webkit-scrollbar-thumb:hover{
    background-color: #bbb;
}
html::-webkit-scrollbar-thumb:active{
    background-color:#888;
}

/*-------------------------------------------------------------------------------------------*/
/* Scroll Within Div Bar : enables scrollbar always active, similar to gmail; used to prevent re-alignement when expanded
/*-------------------------------------------------------------------------------------------*/

/* http://baijs.nl/tinyscrollbar/ */


#scrollbar1 { width: 520px; clear: both; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #003D5D; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

#scrollbar2 { width: 251px; margin: 20px 0 10px; }
#scrollbar2 .viewport { width: 236px; height: 125px; overflow: hidden; position: relative; }
#scrollbar2 .overview { list-style: none; width: 1416px; padding: 0; margin: 0; position: absolute; left: 0; top: 0;  }
#scrollbar2 .overview img{ float: left; }
#scrollbar2 .scrollbar{ background: transparent url('/image/bg-scrollbar-track-x.png') no-repeat 0 0; position: relative; margin: 0 0 5px; clear: both; height: 15px; }
#scrollbar2 .track { background: transparent url('/image/bg-scrollbar-trackend-x.png') no-repeat 100% 0; width: 100%; height:15px; position: relative; }
#scrollbar2 .thumb { background: transparent url('/image/bg-scrollbar-thumb-x.png') no-repeat 100% 50%; height: 25px; cursor: pointer; overflow: hidden; position: absolute; left: 0; top: -5px; }
#scrollbar2 .thumb .end{ background: transparent url('/image/bg-scrollbar-thumb-x.png') no-repeat 0 50%; overflow: hidden; height: 25px; width: 5px;}
#scrollbar2 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


